<!-- <link rel="stylesheet" href="/css/userProfile.css" /> -->

<h2 style="text-align: center">User Profile</h2>

<div>
  <% if(user.id == user_profile.id){ %>
  <form
    action="/users/update/<%= user_profile.id %>"
    class="form"
    method="POST"
    enctype="multipart/form-data"
  >
    <h1 class="title">Update</h1>

    <div class="inputContainer">
      <input
        type="text"
        name="name"
        class="input"
        placeholder="a"
        value="<%= user_profile.name %>"
      />
      <label for="" class="label">UserName</label>
    </div>

    <div class="inputContainer">
      <input
        type="email"
        name="email"
        class="input"
        placeholder="a"
        value="<%= user_profile.email %>"
      />
      <label for="" class="label">Email</label>
    </div>
    <div class="inputContainer">
      <input
        type="file"
        name="avatar"
        class="input"
        placeholder="Profile-picture"
      />
      <label for="" class="label">Email</label>
    </div>
    <input type="submit" class="submitBtn" value="Update" />
  </form>
</div>
<div class="card">
  <img
    src="/images/user_profile.jpg"
    alt="<%= user.name%>"
    style="width: 100%"
  />
  <% }else{ %>
  <h3><span>Name:</span><%= user_profile.name %></h3>
  <p><span>Email:</span><%= user_profile.email %></p>
  <% } %>
  <!-- <p>Harvard University</p> -->
  <div style="margin: 24px 0">
    <a href="#"><i class="fa fa-dribbble"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
  </div>
  <!-- <p><button>Contact</button></p> -->
</div>
<div></div>
